/*jumbotron picture with balloons in fiesta*/
/*landing page - will add picture later. */
.jumbotron{
	background: lightblue;
	/*background: url("../img/balloonFiesta2.jpg") no-repeat;*/
	min-height: 100vh;
	padding: 200px 0 0 0;
	margin-bottom: 0;
	text-align: center;
	color: black;
	background-size: cover;
	background-attachment: fixed;
}

/*picture of the beagles*/
.beagle-photo{
	background: url("../img/Beagle_Maximus_Balloon.jpg") no-repeat;
	padding-left: 0;
	padding-right: 0;
	min-height: 100vh;
	text-align: center;
	color: black;
	background-size: contain;
	background-attachment: fixed;

}


/*picture of the yoda*/
.yoda-photo{
	background: url("../img/Master_Yoda_Balloon.jpg") no-repeat;
	padding-left: 0;
	padding-right: 0;
	min-height: 100vh;
	text-align: center;
	color: black;
	/*
	background-size: contain;
	*/
	background-attachment: fixed;

}