/*jumbotron picture with balloons in fiesta*/
.jumbotron{
	background: url("../img/balloonFiesta2.jpg") no-repeat center;
	min-height: 100vh;
	/*padding: 200px 0 0 0;*/
	margin-bottom: 0;
	text-align: center;
	color: lightblue;
	background-size: cover;
	background-attachment: fixed;
}